
<div class="col-xs-12 hidden-lg hidden-md">
        <div class="left-right">
        <button class="go-btn" (click)="goCheckedValue()">Go</button>
      </div>
        <div class="refine-select-button-list">
           <div class="row" *ngFor="let facet of selectedItems">
               <div class="col-xs-12">
                    <!-- <div class="col-xs-2"> 
                            <div *ngIf="facet.key=='wbg_topics'">Topics</div>
                            <div *ngIf="facet.key=='wbg_country'">Country</div>
                            <div *ngIf="facet.key=='wbg_region'">Region</div>
                            <div *ngIf="facet.key=='wbg_year'">Decade</div>
                    </div> -->
                    <!-- <div  class="col-xs-10">  -->
                            <div *ngIf="facet.value!=undefined"  (click)="onFacetItem(facet.header, facet.value,false);">
                                    {{facet.value}} 
                                    <i class="fa fa-times delete-item"> </i>
                            <!-- </div> -->
                        </div>
               </div>
           </div>		
       </div> 
       <div id="refine-collapse1" class="sidebar-collapse" [@refineFadeInOut]="isCollapsed">
            <div class="sidebar-slider">
                <ul class="padd-16 col-xs-6 col-sm-6" [ngClass]="{'collapse' : isAllFacets}">
                        
                        <li class="sidebar-list-item" (click)="onSelectFacetName(facet.facetName)" *ngFor="let facet of facetposts">
                            <a class="sidebar-menu-trigger">{{facet.facetLabel}}</a>
                        </li>			
                    </ul>
                    <ul class="padd-16 col-xs-6 col-sm-6">
                            <li class="sidebar-list" [ngClass]="{'collapse' : isFacets}">
                    <ul *ngFor="let facet of facetposts | mobileFacetContains : facetName; let i = index;">
                            <li><a class="sidebar-menu-trigger-back" (click)="onBack()"><b>Back</b></a></li>
                            
                            <div class="_loop_primary_search" *ngIf="(facet.facetItems | length) > 6">	
                                    <input type="search" [(ngModel)]="this['facet' + i]" placeholder="{{placeholder}}" id="primary_inputs-1" >	       	        
                              </div> 
                                <li *ngFor="let word of facet.facetItems| facetContains : '' : '': this['facet' + i] : limitFacets : i">
                                    <div class="_loop_checkbox">
                                                <input data-customlink="sf:body content" class="_loop_primary_checkbox"
                                                 type="checkbox" [checked]="selectedFacetItems  | checked : facet.facetName : word.name"
                                                 (change)="onFacetItem(facet.facetName, word.name,true)"/>
                                                <label for="srchwtn">
                                                    <div class="sidebar-sublist_wrapper">
                                                      <span class="sidebar-sublist-item">{{word.label}} &nbsp;</span>
                                                      <span>({{word.count}})</span>
                                                    </div>
                                                  </label>
                                                </div>
                                    <!-- <a href="?{{facetParameters | timeFrameContains : facet.facetName : word}}"><span class="sidebar-sublist-item">{{word}}</span><span class="list-item-num"></span></a>
                              
                            
                                <a class="remove-btn" href="?{{facetParameters | showing :facet.facetName}} " *ngIf="selectedFacetItems | objectContains : facet.facetName">
                                    <i class="fa fa-times-circle-o"></i>
                                </a> -->
                            </li>
                            <div class="expand-link" *ngIf="(facet.facetItems | length) > 6">
                                <a *ngIf="!(limitFacets | contains : i)" (click)="onSeeMore(i); false">See More +</a>
                                <a *ngIf="(limitFacets | contains : i)" (click)="onSeeLess(i); false">See Less -</a>	
                            </div>
                        </ul>
                    </li>
                    </ul>
                    </div>
                    </div>

       </div>